@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap');


body {
  margin: 0;
  padding: 0;
}
.hero-banner  {
  background-image: url('./assets/hero.jpg');
}
.custom-clip {
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% 100%,100% 100%,60px 100%,0 calc(100% - 60px));
}